openapi: "3.0.0"
info:
  description: "This is the API for the '2 truths and a lie' mobile game, realeasing early 2019."
  version: "0.0.1"
  title: "Truth Lie"
  contact:
    email: "incoming+Vrixyz/truthLie@gitlab.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
tags:
- name: "public"
  description: "Public api not requiring authentication (player_id)."
- name: "players"
  description: "API specific for a player but not fitting a specific component."
- name: "answers"
  description: "API for any single sentence (answer), true or false for one player."
- name: "cards"
  description: "API for any set of sentences (answers), that we call card, containing 3 answers and a reference to its player."
- name: "guess"
  description: "API for a set of sentences sent to a player, who must guess which sentence is the lie."
servers:
  - url: {{api_server_base_url}}
paths:
  /unauthenticated/players/login:
    post:
      tags:
      - "public"
      summary: "Designed to get a json web token to use for authenticated calls: Attempt to login an existing player."
      description: ""
      operationId: "login"
      requestBody:
        description: "Player's credentials"
        required: true
        content:
          application/json:
            schema:
              type: object
              description: "encapsulation for details"
              properties:
                login_details:
                  example: {"email": "test@example.com", "password":"123456"}
                  oneOf:
                    - type: object
                      description: "pair mail/password"
                      properties:
                        email:
                          description: "Used to identify which player you want to login to."
                          type: string
                        password:
                          description: "Plain password, we'll hash it and compare to our stored hashes. If it matches, you'll get your json web token."
                          type: string
                    - type: object
                      description: "Facebook credentials. To get one, you need facebook app ID and generate it via Facebook (use their SDK for an app). For debug, consult https://developers.facebook.com/tools/explorer/"
                      properties:
                        facebook_access_token:
                          description: "This token contains all information necessary for authenticating a user (we only check and store its user identifier)."
                          type: string
      responses:
        200:
          description: "Json web token to be used for authenticated routes"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  jwt:
                    description: "Json web token to be used in authenticated routes"
                    type: "string"
        500:
          description: "Internal error"
        400:
          description: "Bad request"
  /unauthenticated/players/signup:
    post:
      tags:
      - "public"
      summary: "Designed to get a json web token to use for authenticated calls: Attempt to create a new player."
      description: ""
      operationId: "signup"
      requestBody:
        description: "Player's credentials"
        required: true
        content:
          application/json:
            schema:
              type: "object"
              description: "encapsulation for details"
              properties:
                signup_details:
                  type: "object"
                  description: "pair mail/password"
                  example: {"email": "test@example.com", "password":"123456"}
                  properties:
                    email:
                      description: "Used to identify your password for later login."
                      type: "string"
                    password:
                      description: "Plain password, we'll hash it and store its hash for later login."
                      type: "string"
      responses:
        200:
          description: "Json web token to be used for authenticated routes"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  jwt:
                    description: "Json web token to be used in authenticated routes"
                    type: "String"
        500:
          description: "Internal error"
        400:
          description: "Bad request"
  /players/name/set:
    patch:
      tags:
      - "players"
      summary: "Attempt to modify a player name"
      description: ""
      operationId: "setName"
      security: 
        - OAuthAuthentication: []
      requestBody:
        description: "Player's credentials and new name"
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                player_name:
                  description: "Its new name."
                  type: "string"
      responses:
        200:
          description: "Name change successful"
        500:
          description: "Internal error"
        400:
          description: "Bad request"
  /players/get:
    get:
      tags:
      - "players"
      summary: "Get players list."
      description: ""
      operationId: "players"
      security: 
        - OAuthAuthentication: []
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            format: int64
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
            default: 10
      responses:
        200:
          description: "Full players list"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Players"
        500:
          description: "Internal error"
        400:
          description: "Bad request"
  /players/me:
    get:
      tags:
      - "players"
      summary: "Get details of logged in player."
      description: ""
      operationId: "playersMe"
      security: 
        - OAuthAuthentication: []
      responses:
        200:
          description: "Details of logged in player"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Player"
        500:
          description: "Internal error"
        400:
          description: "Bad request"
  /players/answers/get:
    get:
      tags:
      - "answers"
      summary: "Get all answers belonging to a player."
      description: "In the future it should be strongly authentified, otherwise it's an easy way to cheat."
      operationId: "answers"
      security: 
        - OAuthAuthentication: []
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            format: int64
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
            default: 10
      responses:
        200:
          description: "All player's answers within offset ; I should add an 'available' for easy paging"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Answers"
        500:
          description: "Internal error"
        400:
          description: "Bad request"
  /players/cards/get:
    get:
      tags:
      - "cards"
      summary: "Get all cards (set of answers) belonging to a player."
      description: ""
      operationId: "cards"
      security: 
        - OAuthAuthentication: []
      parameters:
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
            default: 0
        - name: limit
          in: query
          description: Max cards to retrieve.
          required: false
          schema:
            type: integer
            format: int64
            default: 10
      responses:
        200:
          description: "Every cards created by current player."
          content:
            application/json:
              schema:
                description: "Player is not present because it should always be current logged in player."
                type: object
                properties:
                  offset:
                    type: integer
                  count:
                    type: integer
                  cards:
                    description: "main object returned by cards/get"
                    type: array
                    items:
                      $ref: "#/components/schemas/AnswerCard3"
                  answers:
                    description: "reference helper to get details of answers"
                    type: array
                    items:
                      $ref: "#/components/schemas/Answer"
        500:
          description: "Internal error"
        400:
          description: "Bad request"
  /players/cards/send_card_3:
    post:
      tags:
      - "cards"
      summary: "Send a set of sentences (a card) to oher player(s), who will have to guess which sentence is the lie."
      description: ""
      operationId: "send_card"
      security: 
        - OAuthAuthentication: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                targets:
                  type: array
                  items:
                    oneOf:
                    - type: string
                      description: "Facebook id"
                    - type: integer
                      description: "Internal id (directly corresponding to Player id from Database)"
                answers:
                  description: There should be 2 truths.
                  type: array
                  minItems: 3
                  maxItems: 3
                  uniqueItems: true
                  items:
                    oneOf:
                    - type: object
                      description: "answer for a player. it will create a new one."
                      properties:
                        content:
                          type: string
                        is_truth:
                          type: boolean
                    - type: "integer"
                      description: "answer_id ; must exist already. was created by a call to send_card or answers/create"
      responses:
        200:
          description: "Successfully sent the guess!"
        500:
          description: "Internal error"
        400:
          description: "Bad request: You tried to send an existing answer with a different type, or a non existing id"
  /players/guesses/get:
    get:
      tags:
      - "guess"
      summary: "Get all sentences player has received."
      description: ""
      operationId: "guesses"
      security: 
        - OAuthAuthentication: []
      parameters:
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
            default: 10
        - name: is_answered
          in: query
          description: if true, returns only guesses we already answered
          required: false
          schema:
            type: bool
            format: string
            default: false
      responses:
        200:
          description: "Received guesses."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnswerGuessCard3Deeps"
        500:
          description: "Internal error"
        400:
          description: "Bad request"
  /players/guesses/guess:
    post:
      tags:
      - "guess"
      summary: "Guess which answer from a card is the lie."
      description: "The objective of this call is to guess which sentence within a set is the lie. The return value should be with the property 'is_truth':false : That means you found the lie! be careful, you can only call this route once for a guess."
      operationId: "guess"
      security: 
        - OAuthAuthentication: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                guess_id:
                  type: "integer"
                answer_id:
                  type: "integer"
      responses:
        200:
          description: "Guess was updated, return the value to know if it was a truth."
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  is_truth:
                    type: boolean
        500:
          description: "Internal error"
        400:
          description: "Bad request"
components:
  securitySchemes:
    OAuthAuthentication:    # <---- arbitrary name
      type: http
      description: This is a "custom" oauth2 flow, consisting of getting a json web token, then making calls to API. [More info](https://gitlab.com/Vrixyz/oauth-server)
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Player:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int32"
        name:
          type: "string"
        external_facebook_id:
          type: "string"
    Players:
        type: array
        items:
          $ref: "#/components/schemas/Player"
    Answer:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int32"
        player_id:
          type: "integer"
          format: "int32"
        content:
          type: "string"
        is_truth:
          type: "boolean"
    Answers:
      type: array
      items:
        $ref: "#/components/schemas/Answer"
    AnswerCard3:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int32"
        answer1:
          type: "integer"
          format: "int32"
        answer2:
          type: "integer"
          format: "int32"
        answer3:
          type: "integer"
          format: "int32"
        player_id:
          description: "id of a player, signifying she created that card (and should be owner of every 'answers')."
          type: "integer"
          format: "int32"
    AnswerGuessCard3:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int32"
        answer_card_3_id:
          type: "integer"
          format: "int32"
        player_id:
          type: "integer"
          format: "int32"
        answer_id:
          description: "Links to the chosen answer, can be null"
          type: "integer"
          format: "int32"
        creation_date:
          description: "Date when guess was created (sent to the player)"
          type: "string"
          format: "date-time"
        answer_date:
          nullable: true
          description: "Date when the answer was given."
          type: "string"
          format: "date-time"
    AnswerGuessCard3s:
      type: array
      items:
        $ref: "#/components/schemas/AnswerGuessCard3"
    AnswerGuessCard3Deep:
      type: "object"
      properties:
        guess_id:
          type: "integer"
          format: "int32"
        card_id:
          type: "integer"
          format: "int32"
        sender_id:
          type: "integer"
          format: "int32"
        sender_name:
          type: "string"
        answers:
          type: "array"
          items:
            $ref: "#/components/schemas/PartialAnswer"
    PartialAnswer:
      type: object
      properties:
        answer_id:
          type: "integer"
          format: "int32"
        answer_content:
          type: "string"
    AnswerGuessCard3Deeps:
      type: array
      items:
        $ref: "#/components/schemas/AnswerGuessCard3Deep"